/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require skin
 *= require style
 *= require owl.carousel
 *= require owl.theme
 *= require ion.checkRadio
 *= require ion.checkRadio.cloudy
 *= require jquery.mCustomScrollbar
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "animate";

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}





.boxes-title-1 {
  margin-bottom: 10px !important;
}